body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  background-color: hsl(60, 57%, 91%);
  font-family: "Monaspace Krypton", "JetBrains Mono", "Courier New", Courier,
    monospace;
}

main {
  padding: 1.5em;
}

h1 {
  text-align: center;
}

p {
  font-weight: 500;
}
