@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary: hsl(349, 86%, 56%);
  --secondary: hsl(356, 100%, 76%);
  --black: hsl(0, 91%, 5%);
  --white: hsl(38, 66%, 92%);
  --gray: hsl(0, 6%, 35%);
  /* opacity shifting colors */
  --modifier-base: 0, 0, 0;
  --modifier-05: rgba(var(--modifier-base), 0.05);
  --modifier-25: rgba(var(--modifier-base), 0.25);
  --modifier-60: rgba(var(--modifier-base), 0.6);
  --modifier-75: rgba(var(--modifier-base), 0.75);
  --modifier-85: rgba(var(--modifier-base), 0.85);

  /* transitions */
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  /* fonts */
  --sans: "DM Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --mono: "Source Code Pro", "JetBrains Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--sans);
  font-size: 16px;
  scroll-padding: 4em;
  background: var(--white);
  color: var(--black);
}

svg {
  display: block;
}

button {
  cursor: pointer;
  background: none;
  font-family: inherit;
  color: inherit;
  transition: var(--ease) transform 200ms;
  transform: scale(var(--btn-scale));
}

button:hover {
  --btn-scale: 1.1;
}

button:active {
  --btn-scale: 0.9;
}

p {
  color: var(--gray);
  max-width: 800px;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--mono);
  line-height: 1.5;
}

mark {
  background-color: var(--modifier-25);
  padding: 0.05em 0.25em;
  border-radius: 0.125em;
}

a {
  display: inline-block;
  font-weight: 600;
  color: var(--modifier-60);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.anchor-inherit {
  color: inherit;
}

.anchor-effects {
  transition: var(--ease) transform 250ms;
  transform: translateY(var(--anchor-translate)) scale(var(--anchor-scale));
}

.anchor-effects-parent:hover > .anchor-effects.scale {
  --anchor-translate: -3px;
  --anchor-scale: 1.02;
}

.anchor-effects-parent:active > .anchor-effects.scale {
  --anchor-translate: -1px;
  --anchor-scale: 0.93;
}

.anchor-effects-parent:hover > .anchor-effects.pop {
  --anchor-translate: -4px;
  --anchor-scale: 1;
}

.anchor-effects-parent:active > .anchor-effects.pop {
  --anchor-translate: -2px;
  --anchor-scale: 1;
}

.vert-divider {
  width: auto;
  height: 75%;
  border-right: 1px solid;
}

.horiz-list {
  display: flex;
  gap: 3em;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.vert-list {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

/* -- NAV -- */

nav {
  height: 124px;
  padding: 1em max(4em, 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--modifier-05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  border-right: 1px solid var(--gray);
}

.nav-button {
  font-family: var(--mono);
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 1.25;
}

.nav-anchor {
  display: block;
  color: var(--secondary);
}

/* -- MAIN -- */

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 5em;
  align-items: center;
  justify-content: center;
  padding: 4em max(4em, 10%);
  background: var(--white);
}

/* -- SECTION -- */

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4em;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary);
  }

  h3 {
    font-weight: 600;
    margin-bottom: 0.375em;
  }
}

section:nth-of-type(even) {
  flex-direction: row-reverse;

  .section-imgs {
    align-items: flex-start;
  }
}

.section-text,
.section-imgs {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.section-text {
  gap: 0.75rem;
}

.section-imgs {
  align-items: flex-end;
}

.img-container {
  position: relative;
  flex-shrink: 0;
  padding: 0.65em;
  background: var(--secondary);
  border: 2px solid rgba(0, 0, 0, 0.04);
  border-radius: 1.15em;
}

.img-container.multiple {
  width: calc(300px + 0.65em * 2);
  height: calc(300px + 0.65em * 2);
}

.img-container-img {
  display: block;
  width: 300px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

.img-whs,
.img-spms {
  position: absolute;
  width: 45%;
}
.img-neit {
  width: 65%;
}
.img-whs {
  right: 0.65em;
  top: 50%;
  transform: translateY(-66.3%);
}
.img-spms {
  bottom: 0.65em;
  left: 50%;
  transform: translateX(-66%);
}

.img-friends-1 {
  position: absolute;
  width: 88%;
  right: 0.65em;
  top: 0.65em;
}
.img-friends-2 {
  position: absolute;
  width: 72%;
  left: 0.65em;
  bottom: 0.65em;
}

/* -- FOOTER -- */

footer {
  padding: 1em max(4em, 10%);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  background: var(--modifier-05);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-paragraph {
  max-width: 500px;
  font-size: 1em;
}

.footer-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.footer-divider {
  margin: 1em 0;
}

.hobbies-list {
  padding-inline-start: 34px;
}

.education-list {
  padding-inline-start: 18px;
}

.list-item {
  font-weight: 700;
  font-size: 18px;
  color: var(--modifier-85);
}

.list-paragraph {
  margin-top: 0.125em;
  color: var(--modifier-85);
}

.hide {
  display: none;
}
