@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary: hsl(349, 86%, 56%);
  --secondary: hsl(356, 100%, 76%);
  --black: hsl(0, 91%, 5%);

  --white-hue: 38;
  --white-saturation: 66%;
  --white-lightness: 92%;
  --white: hsl(
    var(--white-hue),
    var(--white-saturation),
    var(--white-lightness)
  );

  --gray-saturation: 6%;
  --gray-lightness: 35%;
  --gray: hsl(0, var(--gray-saturation), var(--gray-lightness));

  /* transitions */
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  /* fonts */
  --sans: "DM Sans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --mono: "Source Code Pro", "JetBrains Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--sans);
  font-size: 16px;
  scroll-padding: 4rem;
  background: var(--white);
  color: var(--black);
}

svg {
  display: block;
}

button {
  cursor: pointer;
  background: none;
  font-family: inherit;
  color: inherit;
  transition: var(--ease) transform 200ms;
  transform: scale(var(--btn-scale));
}

button:hover {
  --btn-scale: 1.1;
}

button:active {
  --btn-scale: 0.9;
}

p {
  color: var(--gray);
  max-width: 500px;
  font-weight: 500;
  font-size: 1rem;
  font-family: var(--mono);
  line-height: 1.5;
}

a {
  display: inline-block;
  font-weight: 600;
  color: var(--gray);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.anchor-inherit {
  color: inherit;
}

.anchor-effects {
  transition: var(--ease) transform 250ms;
  transform: translateY(var(--anchor-translate)) scale(var(--anchor-scale));
}

.anchor-effects-parent:hover > .anchor-effects.scale {
  --anchor-translate: -3px;
  --anchor-scale: 1.02;
}

.anchor-effects-parent:active > .anchor-effects.scale {
  --anchor-translate: -1px;
  --anchor-scale: 0.93;
}

.anchor-effects-parent:hover > .anchor-effects.pop {
  --anchor-translate: -4px;
  --anchor-scale: 1;
}

.anchor-effects-parent:active > .anchor-effects.pop {
  --anchor-translate: -2px;
  --anchor-scale: 1;
}

.school-anchor:visited {
  color: var(--gray);
}

.school-anchor:link {
  text-decoration-color: var(--secondary);
}

.vert-divider {
  width: auto;
  height: 75%;
  border-right: 1px solid;
}

.horiz-list {
  display: flex;
  gap: 3em;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.vert-list {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

/* -- NAV -- */

nav {
  height: 124px;
  padding: 1rem max(4em, 10%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid;
  border-color: hsl(0, var(--gray-saturation), 80%);
  background-color: hsl(var(--white-hue), var(--white-saturation), 90%);
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  border-right: 1px solid;
  border-color: hsl(0, var(--gray-saturation), 80%);
}

#nav-button {
  font-family: var(--mono);
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: -4px;
  line-height: 1.25;
}

.nav-anchor {
  display: block;
  color: var(--secondary);
}

/* -- MAIN -- */

main {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 4em max(4em, 10%);
  background: var(--white);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "about about about"
    "education hobbies hobbies";
}

/* -- SECTION -- */

#about {
  grid-area: about;
  align-items: center;
  flex-direction: row;

  .section-imgs {
    align-items: flex-end;
  }
}

#education {
  grid-area: education;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hobbies {
  grid-area: hobbies;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;
  height: 100%;
  border-radius: 0.75rem;
  background-image: url("../images/bg.webp");
  background-size: contain;
  background-position: center;

  .section-text {
    width: 100%;
  }

  .section-imgs {
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
  }
}

section {
  display: flex;
  width: 100%;
  min-height: 100%;
  padding: 1.5rem;
}

.section-heading {
  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary);
    text-transform: capitalize;
  }

  h3 {
    font-weight: 600;
    font-size: 1.125rem;
    margin-bottom: 0.375em;
    color: var(--gray);
  }
}

.section-text,
.section-imgs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.75rem;
}

.section-text {
  height: 100%;
  flex-grow: 1;
  gap: 0.75rem;
  justify-content: flex-start;
}

#hobbies-text-with-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  height: 100%;
}

.img-container {
  position: relative;
  flex-shrink: 0;
  padding: 0.75em;
  border: 1px solid;
  border-radius: 1.25em;
  border-color: var(--primary);
  background-color: var(--secondary);
}

.img-container.multiple {
  width: calc(200px + 0.75em * 2);
  height: calc(200px + 0.75em * 2);
}

.img-container-img {
  display: block;
  width: 300px;
  border: 1px solid;
  border-color: var(--primary);
  border-radius: 0.5em;
}

.img-container-small-width-img,
.img-container-small-height-img {
  display: block;
  border: 1px solid;
  border-color: var(--primary);
  border-radius: 0.5em;
}

.img-container-small-width-img {
  width: 200px;
}

.img-container-small-height-img {
  height: 200px;
}

#img-friends-1 {
  position: absolute;
  width: 88%;
  right: 0.65em;
  top: 0.65em;
}

#img-friends-2 {
  position: absolute;
  width: 72%;
  left: 0.65em;
  bottom: 0.65em;
}

/* -- FOOTER -- */

footer {
  padding: 1.5rem max(4em, 10%);
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  border-top: 1px solid;
  border-color: hsl(0, var(--gray-saturation), 80%);
  background-color: hsl(var(--white-hue), var(--white-saturation), 90%);
}

.footer-paragraph {
  max-width: 500px;
  font-size: 1em;
}

.footer-divider {
  margin: 1em 0;
}

.hobbies-list {
  padding-inline-start: 34px;
}

.education-list {
  padding-inline-start: 18px;
}

.list-item {
  font-weight: 700;
  font-size: 18px;
}

.list-item::marker {
  font-family: var(--mono);
}

.list-paragraph {
  margin-top: 0.125em;
}

.small-paragraph {
  font-size: 14px;
}

.highlight {
  color: var(--black);
}
