@charset "UTF-8";

:root {
  /* colors */
  --white-700: rgb(194, 194, 194);
  --white-800: rgb(227, 227, 227);
  --white-900: rgb(255, 255, 255);
  --blue: rgb(2, 84, 160);
  --dark-600: rgb(80, 80, 80);
  --dark-700: rgb(55, 55, 55);
  --dark-800: rgb(22, 22, 22);
  --dark-900: rgb(6, 6, 6);
  /* fonts */
  --roboto: "Roboto", sans-serif;
  --mono: monospace;
  /* transitions */
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: var(--roboto);
  height: 100dvh;
  color: var(--white-800);
  background: var(--dark-600);
}

svg {
  display: block;
}

a {
  display: inline-block;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;
  background: none;
}

/* content styling */

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  height: 1.5rem;
  margin-left: 4rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-600);
}

footer {
  display: flex;
  align-items: center;
  height: 1rem;
  border-top: 1px solid var(--white-800);
  background-color: var(--blue);
  font-size: 0.625rem;
  padding-left: 1rem;
}

section {
  display: flex;
  height: 100%;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 4rem;
  flex-shrink: 0;
  background-color: var(--dark-600);
}

.sidebar-button {
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.sidebar-icon {
  width: 100%;
  height: 100%;
  color: var(--white-700);
}

#tray {
  width: 144px;
  background-color: var(--dark-700);
  flex-shrink: 0;
  transition: width 0.2s var(--ease);
  will-change: width;
}

#tray-content {
  display: flex;
  flex-direction: column;
}

details {
  padding: 0 2px;
}

summary {
  border-top: 1px solid var(--white-800);
  padding: 0.75rem;
}

.dropdown-list {
  padding: 0.5rem 0;
  border-top: 1px solid var(--white-800);
}

details:first-of-type > .dropdown-list {
  margin-bottom: 1rem;
}

.dropdown-button {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 0.125rem;
  width: 100%;
  color: var(--white-800);

  svg {
    width: 18px;
    height: 18px;
    stroke-width: 1.5;
  }
}

.dropdown-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#program {
  display: flex;
  height: 100%;
  background-color: var(--dark-900);
  flex-direction: column;
  flex-basis: 100%;
}

nav {
  height: 34px;
  flex-shrink: 0;
  background-color: var(--dark-800);
}

.tabs-list {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  gap: 2px;

  li {
    width: 100%;
    max-width: 175px;
    height: 100%;
  }
}

.tab-button {
  width: 100%;
  height: 100%;
  color: rgb(194, 194, 194);
  background-color: var(--dark-700);
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
}

.close-button {
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }
}

.tab-left {
  position: relative;
  height: 100%;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;

  svg {
    height: 18px;
    width: 18px;
  }
}

#breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: var(--dark-900);
  padding: 4px 10px;
}

.breadcrumb {
  color: var(--blue);
}

textarea {
  resize: none;
  color: white;
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  padding: 4px 10px;
  font-family: var(--mono);
  background-color: var(--dark-900);
}

textarea:focus {
  outline: none;
}

.icon-settings {
  width: 16px;
  height: 16px;
}

/* helper classes */
.horiz-list {
  display: flex;
  height: 100%;
  gap: 1rem;
  align-items: center;
}

.vert-list {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.roboto-sm {
  font-family: var(--roboto);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
}

.active {
  background-color: var(--dark-800);
}

.hide {
  width: 0 !important;
}

.white-900 {
  color: var(--white-900);
}

.white-800 {
  color: var(--white-800);
}

.white-700 {
  color: var(--white-700);
}
